<mat-card>
    <form [formGroup]="creationForm" (submit)="createBlogpost(formDirective)" #formDirective="ngForm">
        <div class="example-container">
            <mat-form-field>
                <input matInput placeholder="title" required formControlName="title">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="subTitle" required formControlName="subTitle">
            </mat-form-field>
            <mat-form-field>
                <textarea matInput placeholder="content" required formControlName="content"></textarea>
            </mat-form-field>
            <label for="image">choose image</label>
            <input type="file" name="image" id="image" formControlName="image" >

            <button type="button" mat-button (click)="upload()">upload image</button>
            <button mat-button type="submit">Create blog post</button>
        </div>
    </form>
</mat-card>